<div class="forgot-container">

  <div class="forgot-card">
 <div class="back-arrow" (click)="regreso()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FBBF24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
  <line x1="19" y1="12" x2="5" y2="12"></line>
  <polyline points="12 19 5 12 12 5"></polyline>
</svg>
    </div>
    <!-- Contenido del formulario -->
    <h2>Recuperar contraseña</h2>
    
    <p class="subtitle">
      Ingresa tu correo electrónico para recuperar tu contraseña
    </p>


    <form (ngSubmit)="inicioRecuperacion()">
<div *ngIf="cargando" class="loading-message">
  <div class="loading-content">
    <div class="bee-flying">

    </div>
    
    <div class="loading-text">
      <p class="main-text">Enviando tu solicitud</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
</div>
      <div class="input-group">
        <label for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          placeholder="correo@ejemplo.com"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      
<button type="submit" class="btn-primary" [disabled]="cargando">
  <span class="icon-send" *ngIf="!cargando"></span>
  <span class="spinner" *ngIf="cargando"></span>
  {{ cargando ? 'Enviando...' : 'Enviar código' }}
</button>
    </form>


  </div>
</div>